extends layout

block content
  h1= title
  p Welcome to #{title}
  div The sum is #{sum}
  button(id='button') Click me
  div(id='message')
  script(src='https://unpkg.com/axios/dist/axios.min.js')
  script(src='/dist/index.bundle.js')
